@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main-container {
  display: grid;
  grid-template: repeat(auto-fit, minmax(300px, 1fr)) / 18vw 1fr 1fr 1fr;
  max-width: 1920px;
  max-height: 1080px;
}

.header-wrapper {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  border: 1px solid green;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  padding: 30px 50px 20px 50px;
}

.header-icon {
  height: 30px;
}

.search-bar-input {
  vertical-align: top;
  width: 40vw;
  border-radius: 15px;
  margin-left: 20px;
  height: 30px;
  background-color: #e2e8f0;
  border: none;
}

.sidebar-wrapper {
  grid-row: 1 / 5;
  background-color: #1892d4;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  display: grid;
  padding: 20px 0 0 20px;
  grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(3, 1fr) 4fr;
}

.sidebar-menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr;
  column-gap: 10px;
  align-items: center;
  height: fit-content;
  align-items: end;
}

.dashboard-menu {
  font-size: 36px;
}

.dashboard-icon {
  height: 80px;
  filter: invert(1);
}

.sidebar-icon {
  height: 30px;
  filter: invert(1);
}

.main-content-wrapper {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  display: flex;
  background-color: #e2e8f0;
}

.project-cards-wrapper {
  flex-grow: 1;
  height: auto;
  border: 1px solid red;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.projects-title {
  font-size: 32px;
}

.project-cards {
  display: grid;
  grid-template: repeat(auto-fit, minmax(250px, 1fr)) / repeat(
      auto-fit,
      minmax(250px, 1fr)
    );
  padding: 16px;
  gap: 16px;
}

.card {
  max-width: 250px;
  min-height: 150px;
  border: 1px solid blueviolet;
  background-color: white;
}

.right-column-wrapper {
  display: grid;
  min-width: 400px;
}

.announcements-wrapper {
  border: 1px solid yellow;
}

.announcements {
  height: stretch;
  margin: 16px 16px 32px;
  background-color: white;
}

.trending-wrapper {
  border: 1px solid black;
}

.trending {
  height: stretch;
  margin: 16px 16px 32px;
  background-color: white;
}
