@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}

.main-container {
  display: grid;
  grid-template: 1fr 2fr 1fr / 18vw 1fr 1fr 1fr;
  max-width: 1920px;
}

.header-wrapper {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  padding: 30px 50px 20px 50px;
  box-shadow: 0 5px 0 #ced3da;
  z-index: 1;
}

.bell-icon {
  height: 25px;
}

.magnify-icon {
  height: 30px;
}

.search-bar-input {
  vertical-align: top;
  width: 35vw;
  border-radius: 15px;
  margin-left: 20px;
  height: 30px;
  background-color: #e2e8f0;
  border: none;
}

.top-right-header {
  display: grid;
  grid-template: 1fr / 3vw 4vw 1fr;
  height: fit-content;
  align-items: start;
  margin-left: auto;
}

.header-profile-icon {
  border: 1px solid #facc15;
  border-radius: 50%;
  background-color: #facc15;
  overflow: visible;
}

.small-profile-icon {
  height: 35px;
  padding: 5px;
  position: relative;
  top: -10px;
}

.large-profile-icon {
  height: 50px;
  padding: 10px;
}

.small-user-name {
  font-size: 20px;
  font-weight: 700;
}

.bottom-left-header {
  display: grid;
  grid-template: 1fr / 1fr 8fr;
}

.header-profile-greeting {
  font-size: 14px;
  font-weight: 700;
}

.profile-greeting-text {
  margin-block-end: 5px;
}

.large-user-name {
  font-size: 28px;
}

.bottom-right-header {
  align-items: center;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  margin-left: auto;
}

.project-button {
  background-color: #1892d4;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  width: 5vw;
  height: 35px;
  border: 1px solid lightgray;
  font-weight: 700;
  margin: 0 0 0 20px;
}

.sidebar-wrapper {
  grid-row: 1 / 5;
  background-color: #1892d4;
  color: white;
  font-size: 24px;
  font-weight: 600;
  display: grid;
  padding: 1em 0 0 1em;
  grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(3, 1fr) 4fr;
}

.sidebar-menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr;
  column-gap: 10px;
  height: fit-content;
  align-items: end;
}

.sidebar-menu:hover {
  background-color: #62c1f5;
}

.sidebar-menu a {
  text-decoration: none;
  color: white;
}

.dashboard-menu {
  font-size: 30px;
  align-items: center;
}

.dashboard-icon {
  height: 60px;
  filter: invert(1);
}

.sidebar-icon {
  height: 30px;
  filter: invert(1);
}

.main-content-wrapper {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  display: grid;
  grid-template: 1fr / 4fr 1fr;
  background-color: #e2e8f0;
  padding: 20px 20px 20px 40px;
}

.project-cards-wrapper {
  height: auto;
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 20px 20px 0 0;
}

.projects-title {
  font-size: 18px;
  font-weight: 700;
}

.project-cards {
  display: grid;
  grid-template: repeat(auto-fit, minmax(200px, 1fr)) / repeat(
      auto-fit,
      minmax(380px, 1fr)
    );
  gap: 20px 30px;
  padding-top: 10px;
}

.card {
  min-width: 15vw;
  max-height: 25vh;
  background-color: white;
  padding: 20px;
  box-shadow: 3px 5px 5px rgb(0 0 0 / 0.1);
  border-radius: 0.4em;
  border-left: 6px solid #facc15;
  display: grid;
  grid-template: 1fr 2fr / 1fr;
}

.card-title,
.announcement-title {
  margin: 0;
  height: fit-content;
  align-self: self-end;
  font-weight: 700;
}

.card-content,
.announcement-content {
  margin: 5px 0 0;
  color: gray;
}

.card-option-wrapper {
  text-align: right;
}

.card-option-icon {
  height: 25px;
  padding: 0 10px;
}

.right-column-wrapper {
  display: grid;
  padding-top: 30px;
}

.news-title {
  font-size: 18px;
  font-weight: 700;
}

.announcements-wrapper {
  display: grid;
  grid-template-rows: 40px 1fr;
  height: 50vh;
}

.announcements {
  display: grid;
  height: stretch;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 3px 5px 5px rgb(0 0 0 / 0.1);
  border-radius: 0.4em;
}

.announcement-content:not(:last-child) {
  border-bottom: 1px solid gray;
}

.trending-wrapper {
  display: grid;
  grid-template-rows: 40px 1fr;
}

.trending {
  display: grid;
  height: stretch;
  background-color: white;
  padding: 20px;
  box-shadow: 3px 5px 5px rgb(0 0 0 / 0.1);
  border-radius: 0.4em;
}

.trending-user {
  display: grid;
  grid-template: 20px 1fr / 4vw 1fr;
  padding-bottom: 40px;
}

.trending-user:last-child {
  padding: 0;
}

.trending-user-name {
  font-weight: 700;
}

.trending-user-title {
  grid-column: 2;
}

.trending-profile-icon {
  height: 45px;
}

.trending-cat-icon {
  height: 30px;
  border: 7px solid #facc15;
  border-radius: 50%;
  background-color: #facc15;
  overflow: visible;
}
